html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	@extend %title-font;
	color: var(--accent);
	font-size: 110px;
	
}

h2 {
	color: var(--accent);
	@extend %title-font;
	font-size: 60px;
	line-height: 80px;
}

h3 {
	@extend %title-font;
	color: var(--accent);
	text-align: center;
	font-size: 36px;
	line-height: 51px; 
}

h4 {
	@extend %title-font;
	color: var(--accent);
	font-size: 24px;
	line-height: 38px;
}

h6 {
	color: var(--accent);
	@extend %title-font;
}
