.blog {
	padding: 60px 0 100px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__items {
		max-width: 730px;
	}

	&__item {
		margin-bottom: 80px;

		&:last-child {
			margin-bottom: 0;	
		}
	}

	&__item-img {
		max-width: 730px;
	}

	&__item-info {
		padding: 25px 0 10px;
		
		color: #707070;
		font-size: 14px;
		font-weight: 600;
		line-height: 28px; 

		a {
			color: inherit;
		}
	}

	&__item-title {
		font-size: 24px;
		margin-bottom: 6px;
		line-height: 38px;
		color: var(--accent);
		@extend %title-font;
	}

	&__quote {
		background: rgba(223, 223, 223, 0.50);
		margin-bottom: 50px;
		padding: 54px 64px;
		font-weight: 300px;
		font-style: italic;
		font-size: 24px;
		line-height: 38px;
		text-align: center;
	}

	&__blockquote-author {
		position: relative;
		margin-top: 23px;
		padding-top: 23px;

		color: rgba(54, 56, 56, 0.90);
		@extend %title-font;
		line-height: 22px;
		font-style: normal; 

		&::before {
			content: "";
			
			position: absolute;
			left: 0px;
			right: 0;
			top: 0px;
			width: 200px;
			height: 1px;
			margin: 0 auto;

			background: #6d7278;
			border-radius: 1px;
			
			background-image: url('./../');
			background-repeat: no-repeat;
		}
	}

	&__item-date {}

	&__item-author {}

	&__item-theme {}

	&__category {
		margin-bottom: 48px;
	}

	&__category-title,
	&__tags-title {
		margin-bottom: 14px;

		color: var(--accent);
		@extend %title-font;
		line-height: 23px; 
	}

	&__category-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__catgory-item {}

	&__category-link {
		color: var(--text-color);
	}

	&__tags {
		margin-bottom: 50px;
	}

	&__link {
		display: inline-block;
		padding: 0 16px;
		margin-bottom: 10px;
		margin-right: 10px;

		color: #8F8D8D;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		line-height: 28px; 

		border-radius: 14px;
		border: 1px solid rgba(#454647, .5);
	}

	&__social {
		display: flex;
		column-gap: 20px;
	}

	&__social-item {
	}

	&__social-link {}

	&__social-img {}

	&__item-popup {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.article-popup {

	&__box {
		position: relative;
	}
}

.aside {
	width: 350px;
	margin-left: 30px;

	&__search {
		position: relative;
		margin-bottom: 45px;
	}
	
	&__search-input {
		display: block;
		width: 100%;
		padding: 6px 45px 6px 18px;
		border-radius: 20px;
		border: 1px solid rgba(#383636, .7);

		&::placeholder {
			color: #A1A1A1;
			font-size: 14px;
			line-height: 28px;
			}
	}

	&__search-btn {
		position: absolute;
		top: 9px;
		right: 13px;
	}

	&__search-btn-img {}
}

.recent-posts {
	margin-bottom: 50px;

	&__title {
		margin-bottom: 25px;

		color: var(--accent);
		@extend %title-font;
		line-height: 23px; 
	}

	&__list {

	}

	&__item {
		margin-bottom: 11px;
	}

	&__item-title {
		display: block;
	
		color: #5A5A5A;
	}

	&__date,
	&__author {
		color: #A1A1A1;
		font-size: 14px;
		line-height: 28px;
	}
}
