.decor {
	padding: 170px 0 155px;
	background-image: url('./../img/decor/decor-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	&__title {
		position: relative;
		margin-bottom: 22px;
		padding-bottom: 22px;
		max-width: 730px;

		&::after {
			content: "";
			
			position: absolute;
			left: 0px;
			bottom: 0px;
			width: 200px;
			height: 1px;
			
			border-radius: 0.5px;
			border: 1px solid #979797;
			background: #6D7278;
		}
	}

	&__subtitle {
		max-width: 540px;
		line-height: 28px; 
	}
}

