.header {
	padding: 45px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.nav {
	padding-left: 35px;
	padding-right: 60px;

	&__list {
		display: flex;
		gap: 80px;
	}

	&__link {
		text-align: center;
		@extend %title-font;
		line-height: 22px;

		color: var(--text-color);
		transition: opacity 0.2s ease-in;

		&:hover {
			opacity: 0.6;
		}
	}
}