.inspiration {
	padding-top: 100px;
	position: relative;

	&::after {
		content: "";
		
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 345px;
		z-index: -1;
		
		background-image: url('./../img/inspiration/inspiration-bg.jpg');
		background-size: cover;
	}
	

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 80px;

	}

	&__img {
		margin-left: -230px;
	}

	&__content {
		max-width: 825px;
	}

	&__title {
		text-align: start;
		line-height: 60px;
		position: relative;
		padding-bottom: 16px;
		margin-bottom: 24px;

		&::after {
			content: "";
			
			position: absolute;
			left: 0px;
			bottom: 0px;
			width: 200px;
			height: 2px;
			
			border-radius: 1px;
			border: 1px solid #979797;
			background: #6D7278;
		}
	}

	&__subtitle {
		margin-bottom: 30px;
	}

	&__list {}

	&__item {
		margin-bottom: 35px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item-content {
		padding-bottom: 14px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2px solid #fff;
		border-radius: 4px; 
	}

	&__progressbar-title,
	&__progressbar-num {
		@extend %title-font;
		line-height: 23px;
	}

	&__progressbar-title {
	}

	&__progressbar-line {
		height: 2px;
		background-color: var(--accent);
		border-radius: 4px;
		margin-top: -2px;
	}

}

